body {
    background-color: white;
}

#panel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel{
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    
    

}
#left-panel{
    background-color: rgb(250, 72, 72);
}
#selected-shapes-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}


#center-panel{
    background-color: rgb(90, 177, 90);
    padding: 8px;
}


#rendered-image-container{
    display: none;
    flex-direction: column;
    justify-content: center;
}

#right-panel{
    background-color: rgb(57, 57, 249);
}

.pointer:hover{
    cursor: pointer;
}