body {
    background-color: white;

}

#panel-container{
    flex-direction: row;
    display: grid;
    grid-template-columns: 130px 370px 130px;
    grid-template-rows: 1fr 100px;
    gap: 8px;   
    max-width: 646px;
    margin: 0 auto;
    justify-content: center; 
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/*LEFT PANEL*/
#left-panel{
    padding-top: 8px;
    background-color: rgb(255, 238, 238);
    border: 1px, solid, rgb(199, 199, 199);
    grid-row: 1 / 3;
    padding-bottom: 8px;      
}

#selected-shapes-container{
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* CENTER PANEL*/
#center-panel{
    background-color: rgb(238, 255, 238); 
    border: 1px, solid, rgb(199, 199, 199);
    grid-row: 1 / 2; 
    padding: 8px;   
}

#preview-canvas{
    margin-bottom: 8px;
    z-index: 1;
}



/*QUERY PANEL*/
#query-container{    
    background-color: rgba(255, 255, 181, 0.997);
    box-sizing: border-box;
    border: 1px, solid, rgb(199, 199, 199);
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    padding: 8px; 
}

#query-title{
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding-bottom: 2px;

}

#query-input{
    box-sizing: border-box;
    width: 100%;  
}

#query-input:focus {
    outline: none;
}

#query-border{
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;   
}

#query-buttons-container{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
}

.query-button{
    width: 100%;
    text-align: center;
    padding: 4px;
    border-radius: 4px;;
}

.button-green{
    background-color: green;
}
.button-green:hover{
     background-color: rgb(0, 157, 0);
}

.button-amber{
    background-color: rgb(255, 191, 0);
}
.button-amber:hover{
    background-color: rgb(252, 213, 95);
}

.button-red{
    background-color: red;
}
.button-red:hover{
    background-color: rgb(255, 73, 73);    
}

/*RIGHT PANEL*/
#right-panel{
    padding: 8px;
    background-color: rgb(237, 237, 255);
    border: 1px, solid, rgb(199, 199, 199);
    grid-row: 1 / 3;  
}

.pointer:hover{
    cursor: pointer;
}

.card {
  box-sizing: border-box;
  padding: 4px;
  border-radius:4px;    
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card-static {
  box-sizing: border-box;
  padding: 4px;
  border-radius:4px;    
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.drow-down-item{
    padding: 2px;
}

.drow-down-item:hover{
    background-color: rgba(255, 255, 255, 0.763);
}

    .properties-number-input{
        width: 36px;
    }

@media (max-width: 650px){

    #panel-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr minmax(200px, auto) 100px;
    }

    #center-panel{        
        grid-column: 1 / 3 ;
        grid-row: 1 / 2;
    }

    #left-panel{        
        grid-column: 1 / 2 ;
        grid-row: 2 / 3;       
    }

    #right-panel{           
        grid-column: 2 / 3 ;
        grid-row: 2 / 3;        
    }
    
    #query-container{      
        grid-column: 1 / 3 ;
        grid-row: 3 / 4;
    } 
    
    .properties-number-input{
        width: 48px;
    }
   
}
