body {
    background-color: white;
}

#panel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel{
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
}
#left-panel{
    background-color: red;
}
#selected-shapes-container{
    display: flex;
    flex-direction: column;
}
.shape-element{
    margin-top: 4px;
    padding: 4px;
    background-color: brown;
}
.shape-element:hover{
    cursor: pointer;
}
.selected{
    background-color: rgb(217, 110, 110);
}
#center-panel{
    background-color: green;
    padding: 8px;
}
#preview-camera-input-width{
    margin-top: 8px;
    margin-right: 4px;
}
#preview-camera-input-height{
    margin-top: 8px;
    margin-left: 4px;
}

#rendered-image-container{
    display: none;
    flex-direction: column;
    justify-content: center;

}


#right-panel{
    background-color: blue;
}

#shape-property{
   display: flex; 
   flex-direction: column;
   background-color: rgb(148, 148, 255)
}