body {
    background-color: white;
}

#panel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;    
    box-sizing: border-box;
}

#left-panel{
    background-color: rgb(255, 86, 86);
    margin-top: 8px;   
}

#selected-shapes-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#center-panel-top{
    background-color: rgb(95, 194, 95);  
}

#center-panel-top{
    padding-bottom: 8px;
}

#rendered-image-container{
    display: none;
    flex-direction: column;
    justify-content: center;
}

#query-container{    
    width: 100%;
    background-color: rgba(246, 246, 124, 0.997);
    padding: 8px;
    box-sizing: border-box; 
}

#query-title{
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding-bottom: 2px;

}

#query-input{
    box-sizing: border-box;
    width: 100%;  
}

#query-input:focus {
    outline: none;
}

#query-border{
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;   
}

#query-buttons-container{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
}

.query-button{
    width: 100%;
    text-align: center;
    padding: 4px;
    border-radius: 4px;;
}

.button-green{
    background-color: green;
}
.button-green:hover{
    background-color: rgb(0, 201, 0);
}

.button-amber{
    background-color: rgb(255, 191, 0);
}
.button-amber:hover{
    background-color: rgb(252, 213, 95);
}

.button-red{
    background-color: red;
}
.button-red:hover{
    background-color: rgb(255, 73, 73);    
}


#right-panel{
    margin-top: 8px;
    background-color: rgb(87, 87, 255);
}

.pointer:hover{
    cursor: pointer;
}

