body {
    background-color: white;
}

#panel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel{
    margin-left: 8px;
    margin-right: 8px;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 

}
#left-panel{
    background-color: rgb(250, 72, 72);
}
#selected-shapes-container{
    display: flex;
    flex-direction: column;
}
.shape-element{
    margin-top: 4px;
    padding: 4px;
    background-color: brown;
}
.shape-element:hover{
    cursor: pointer;
}
.selected{
    background-color: rgb(217, 110, 110);
}
#center-panel{
    background-color: rgb(84, 170, 84);
    padding: 8px;
}
#preview-camera-input-width{
    margin-top: 8px;
    margin-right: 4px;
}
#preview-camera-input-height{
    margin-top: 8px;
    margin-left: 4px;
}

#rendered-image-container{
    display: none;
    flex-direction: column;
    justify-content: center;

}


#right-panel{
    background-color: rgb(57, 57, 249);
}

#shape-property{
   display: flex; 
   flex-direction: column;
   background-color: rgb(148, 148, 255)
}